<html mxlns:th="http://www.thymeleaaf.org">

<head th:fragment="commentFragmentHead">
    <link rel="stylesheet" href="/styles/board/comment.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<div id="comments-container" th:fragment="commentFragment">
    <div class="comment-title">댓글</div>
    <div class="comment-box" id="commentBox" th:data-board-id="${board.id}">
        <!-- 댓글 자바스크립트 -->
    </div>
    <div class="add-comment-btn-box">
        <button id="add-comment-btn" class="btn btn-outline-dark btn-sm">더 보기</button>
    </div>
    <hr>
    <form action="/comments/add" method="post" th:if="${session.Id}!=null">
        <div class="commenet-writer">
            [[${session.userId}]]
        </div>
        <div class="form-floating mt-1 mb-1">
            <textarea class="form-control" placeholder="content" id="comment-intput-content" name="content"></textarea>
            <input type="hidden" name="user_id" th:value="${session.Id}">
            <input type="hidden" name="board_id" th:value="${board.id}">
            <label for="comment-content" class="comment-label">댓글을 남겨보세요</label>
        </div>
        <div class="comment-button-box"><button class="comment-button-write me-2">등록</button></div>
    </form>
    <script>        
        const sessionId = "[[${session.Id}]]";
        const sessionUserId = "[[${session.userId}]]";
        const boardId = "[[${board.id}]]";
    </script>
    <script src="/scripts/board/comment.js"></script>
</div>