<html mxlns:th="http://www.thymeleaaf.org">

<head th:fragment="boardFragmentHead">
    <link rel="stylesheet" href="/styles/board/index.css" />
</head>

<body>
    <div th:fragment="boardFragment" class="board container">
        <!-- <th:block th:if="${session.userId != null}">
            <div th:replace="~{/board/addBoard :: addBoardFragment}"></div>
        </th:block> -->
        <form action="/add" method="POST" id="writeForm">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="title" name="title">
                <label for="floatingInput">title</label>
            </div>

            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="content" id="floatingTextarea" name="content"></textarea>
                <label for="floatingTextarea">content</label>
            </div>

            <button type="submit" class="btn btn-primary" id="writeButton">글 작성</button>
        </form>
        <hr>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item, itemStat:${list}" th:object="${item}">
                        <th scope="row" th:text="*{id}"></th>
                        <td><a class="index-title" th:href="@{/board/}+*{id}">[[*{title}]]</a></td>
                        <td class="user-id"><a class="index-userId" href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                th:data-bs-title="'<a href='+${item.userGit}+'>'+${item.userGit}+'</a>'"
                                data-bs-html="true">[[*{userStrId}]]</a>
                            <a th:if="*{userGit}!=null" class="user-git-address" th:href="*{userGit}" target="_blank">[[*{userGit}]]</a>
                        </td>
                        <td th:text="*{createdAt}"></td>
                    </tr>
                </tbody>
            </table>
            <!-- <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="page-nav">

                    </ul>
                </nav>
            </div> -->
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation" th:with="nowPage=${#numbers.formatInteger(param.page != null ? param.page : 1, 1)}">
                    <ul class="pagination">
                      <li class="page-item" th:if="${nowPage} > 1">
                        <a class="page-link" th:href="@{/(page=${nowPage-1})}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li
                        th:each="page : ${#numbers.sequence(1, pageCount)}"
                        class="page-item"
                      >
                        <a class="page-link" th:href="@{/(page=${page})}">
                          [[${page}]]
                        </a>
                      </li>
                      <li class="page-item" th:if="${nowPage} != ${pageCount}">
                        <a class="page-link" th:href="@{/(page=${nowPage}+1)}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
        <script>
            
            let allSize = +"[[${listSize}]]";
            let page = +"[[${pageSize}]]";
            let pageSize = allSize / page;

            // const pageNav = document.getElementById('page-nav');
            // for (let index = 1; index < pageSize + 1; index++) {
            //     let pageItem = document.createElement("li");
            //     pageItem.className = "page-item";
            //     let pageAnchor = document.createElement("a");
            //     pageAnchor.className = "page-link";
            //     pageAnchor.href = "?page=" + index;
            //     pageAnchor.innerText = index;
            //     pageItem.appendChild(pageAnchor);
            //     pageNav.appendChild(pageItem);
            // }

            console.log("[[${session.userId}]]");
            function writeFromDisplay() {
                if ("[[${session.userId}]]" != "") {
                    document.getElementById("writeForm").style = "display:block;"
                }
            }
            writeFromDisplay();

            document.getElementById("writeButton").onclick = (e) => {
                const inputTitle = document.getElementById("floatingInput");
                const inputContent = document.getElementById("floatingTextarea");
                const writeModal = new bootstrap.Modal(document.getElementById('myModal'))
                if ("[[${session.userId}]]" == "") {
                    document.getElementById("modalBody").innerHTML = "로그인 후 글작성이 가능합니다"
                    writeModal.show();
                    e.preventDefault();
                } else if (inputTitle.value == "" || inputContent.value == "") {
                    document.getElementById("modalBody").innerHTML = "제목과 내용을 모두 작성해야 합니다"
                    writeModal.show();
                    e.preventDefault();
                }
            }

            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        </script>
    </div>
</body>

</html>