<html mxlns:th="http://www.thymeleaaf.org">

<head th:fragment="boardFragmentHead">
    <link rel="stylesheet" href="/styles/board/index.css" />
</head>

<body>
    <div th:fragment="boardFragment" class="board container">
        <form action="/add" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="title" name="title">
                <label for="floatingInput">title</label>
            </div>

            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="content" id="floatingTextarea" name="content"></textarea>
                <label for="floatingTextarea">content</label>
            </div>

            <button type="submit" class="btn btn-primary">글 작성</button>
        </form>
        <hr>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item, itemStat:${list}" th:object="${item}">
                        <th scope="row" th:text="*{id}"></th>
                        <td th:text="*{title}"></td>
                        <td th:text="${boardUserList.get(itemStat.index)}"></td>
                        <td th:text="*{createdAt}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>