<html mxlns:th="http://www.thymeleaaf.org">

<head th:fragment="itemFragmentHead">
    <link rel="stylesheet" href="/styles/board/item.css" />
    <link th:replace="~{/board/comment :: commentFragmentHead}"></link>
</head>

<div th:fragment="itemFragment" class="item-container container">
    <div class="item-top-box">
        <div class="item-title-box">
            <h2 class="item-title">[[${board.title}]]</h2>
        </div>
        <div class="d-flex justify-content-between">
            <div class="item-name-box">
                <div class="item-username">[[${board.userStrId}]]</div>
                <div class="item-created">[[${board.createdAt}]] <span>조회수 [[${board.views}]]</span></div>
            </div>
            <div>댓글 갯수</div>
        </div>
    </div>
    <hr>
    <div class="item-content-box">
        <div class="item-content" >
            [(${boardContent})]
        </div>
    </div>
    <div class="item-likes-box">좋아요 갯수</div>
    <hr>
    <div>
        <div th:replace="~{/board/comment :: commentFragment}"></div>
    </div>
    <div class="item-button-box">
        <form action="/board/edit" method="get" class="me-3" id="form-edit">
            <input id="edit-id" type="hidden" name="num">
            <button class="btn btn-warning btn-sm" id="editButton">수정</button>
        </form>
        <form action="/board/del" method="post" id="form-del">
            <input id="del-id" type="hidden" name="del-id">
            <button class="btn btn-secondary btn-sm" id="delButton">삭제</button>
        </form>
    </div>
    <script>        
        const editButton = document.getElementById("form-edit");
        const delButton = document.getElementById("form-del");

        editButton.onsubmit = (e) => {
            document.getElementById("edit-id").value = "[[${board.id}]]"
        }
        delButton.onsubmit = (e) => {            
            document.getElementById("del-id").value = "[[${board.id}]]"
            
        }

    </script>
</div>


</html>