<html mxlns:th="http://www.thymeleaaf.org">

<head th:fragment="registFragmentHead">
    <link rel="stylesheet" href="/styles/board/index.css" />
</head>

<body>
    <div th:fragment="registFragment" class="regist container">
        <form action="/regist" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputId" placeholder="아이디" name="user-id">
                <label for="floatingInputId">아이디<span style="color:red"> *</span></label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInputPw" placeholder="비밀번호" name="password">
                <label for="floatingInputPw">비밀번호<span style="color:red"> *</span></label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputName" placeholder="이름" name="name">
                <label for="floatingInputName">이름<span style="color:red"> *</span></label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputPhone" placeholder="핸드폰번호" name="phone">
                <label for="floatingInputPhone">핸드폰번호<span style="color:red"> *</span></label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputAdd" placeholder="주소" name="address">
                <label for="floatingInputAdd">주소</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputEmail" placeholder="이메일" name="email">
                <label for="floatingInputEmail">이메일<span style="color:red"> *</span></label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputGit" placeholder="Git 주소" name="git-address">
                <label for="floatingInputGit">Git 주소</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" aria-label="selectGender" name="gender">
                    <option selected value="1">성별</option>
                    <option value="1">남</option>
                    <option value="0">여</option>
                </select>
                <label for="selectGender">성별</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingInputBirth" placeholder="생년월일" name="birth">
                <label for="floatingInputBirth">생년월일</label>
            </div>
            <button type="submit" class="btn btn-primary">회원 가입</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">뒤로 가기</button>
        </form>
        
    </div>
</body>

</html>