@charset "UTF-8";

#header h1{
    text-align: center;
}

.button-box {
    text-align: right;
    margin: 20px;
}

#writeForm {
    display: none;
}

.index-title {
    text-decoration: none;
    color: black;
}

.index-title:hover {
    text-decoration: underline; 
}

.index-userId {
    text-decoration: none;
    color: black;
}

.user-git-address {
    display: none;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    position : absolute;
    background-color: white;
    z-index: 100;
    transform: translate() - 10rem;
}

.user-id:hover{
    text-decoration: underline;
}

.user-id:hover .user-git-address{
    display: block;
}