<html lang="ko" mxlns:th="http://www.thymeleaaf.org">

<head th:fragment="headerFragmentHead">
    <link rel="stylesheet" href="/styles/board/index.css" />
</head>

<body>
    <div th:fragment="headerFragment" id="header" class="container">
        <div class="d-flex justify-content-between mt-4">
            <div>
                <button type="button" onclick="location.href='/'" class="btn btn-secondary" id="HOMEButton">Home</button>
                <button type="button" onclick="location.href='/user/regist'" class="btn btn-success">회원가입</button>    
            </div>
            <div class="button-box"th:replace="~{/user/loginBox :: loginFragment}"></div>            
        </div>
        <h1 th:text="${title}"></h1>       
    </div>
</body>

</html>