<html lang="ko" mxlns:th="http://www.thymeleaaf.org">

<body>
    <div th:fragment="loginFragment">

        <div class="d-flex">
            <form action="/user/login" method="POST">
                <div class="input-group input-group-sm">
                    <div class="d-flex" id="loginInput">
                        <input type="text" class="form-control" id="floatingInputId" placeholder="아이디" name="user-id">
                        <input type="password" class="form-control" id="floatingInputPw" placeholder="비밀번호"
                            name="password">

                    </div>
                    <div th:if="${session.userName != null}">
                        [[${session.userName}]]님 어서오세요&nbsp
                    </div>
                    <button type="submit" class="btn btn-primary" id="loginButton">접속</button>
                </div>
                <div>

                </div>
            </form>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel" style="color:red">입력하신 내용을 확인해주세요</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="loginModalBody" style="font-weight: bold;">회원 정보를 확인해 주세요</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            let userId = "[[${session.userId}]]"
            const loginButton = document.getElementById("loginButton")
            console.log("userId: " + userId);
            if (userId != "") {
                loginButton.innerText = "로그아웃";
                loginButton.type = "button";
                loginButton.onclick = function () {
                    location.href = '/user/logout';
                };
                loginButton.classList.remove("btn-warning");
                loginButton.classList.add("btn-danger");
                document.getElementById("loginInput").outerHTML = "";
            } else {
                const loginModal = new bootstrap.Modal(document.getElementById('loginModal'))
                if ("[[${session.requestError}]]" == "회원가입 실패") {
                    loginModal.show();
                }
            }
        </script>
    </div>
</body>

</html>