<html mxlns:th="http://www.thymeleaaf.org">

<head th:fragment="registFragmentHead">
    <link rel="stylesheet" href="/styles/board/index.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css"
        integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.standalone.min.css"
        integrity="sha512-D5/oUZrMTZE/y4ldsD6UOeuPR4lwjLnfNMWkjC0pffPTCVlqzcHTNvkn3dhL7C0gYifHQJAIrRTASbMvLmpEug=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.min.css"
        integrity="sha512-aQb0/doxDGrw/OC7drNaJQkIKFu6eSWnVMAwPN64p6sZKeJ4QCDYL42Rumw2ZtL8DB9f66q4CnLIUnAw28dEbg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css"
        integrity="sha512-t+00JqxGbnKSfg/4We7ulJjd3fGJWsleNNBSXRk9/3417ojFqSmkBfAJ/3+zpTFfGNZyKxPVGwWvaRuGdtpEEA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.2.1.js" />
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"
        integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"
        integrity="sha512-L4qpL1ZotXZLLe8Oo0ZyHrj/SweV7CieswUODAAPN/tnqN3PA1P+4qPu5vIryNor6HQ5o22NujIcAZIfyVXwbQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div th:fragment="registFragment" class="regist container">
        <form action="/user/regist" method="POST" id="regist-form">
            <div class="input-group mb-3">
                <span class="input-group-text">ID<span style="color:red">&nbsp*</span></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroupId" placeholder="Username"
                        name="user-id" onblur="validateId()">
                    <label for="floatingInputGroupId">아이디</label>
                </div>
                <span class="input-group-text">PW<span style="color:red">&nbsp*</span></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingInputGroupPw" placeholder="password"
                        name="password" onblur="validatePw()">
                    <label for="floatingInputGroupPw">비밀번호</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Name<span style="color:red">&nbsp*</span></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroupName" placeholder="name" name="name"
                        onblur="validateName()">
                    <label for="floatingInputGroupName">이름</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Phone<span style="color:red">&nbsp*</span></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroupPhone" placeholder="phone"
                        name="phone" onblur="validatePhone()">
                    <label for="floatingInputGroupPhone">핸드폰번호</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Address</span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroupAdd" placeholder="address"
                        name="address" onblur="validateAddress()">
                    <label for="floatingInputGroupAdd">집 주소</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">E-MAIL<span style="color:red">&nbsp*</span></span>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGroupEmail" placeholder="email"
                        name="email" onblur="validateEmail()">
                    <label for="floatingInputGroupEmail">example@example.com</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Github Address</span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroupGit" placeholder="git-address"
                        name="git-address">
                    <label for="floatingInputGroupGit">(https://github.com/example) or (GitHub ID)</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Gender</span>
                <div class="form-floating">
                    <select class="form-select" aria-label="selectGender" name="gender">
                        <option selected value="0">선택</option>
                        <option value="1">남</option>
                        <option value="2">여</option>
                    </select>
                    <label for="selectGender">성별</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Birth</span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="datepicker" placeholder="birth" autocomplete="off"
                        name="birth">
                    <label for="floatingInputGroupBirth">생년월일</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton">회원 가입</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">뒤로 가기</button>
            <button type="button" class="btn btn-secondary" id="check">확인</button>
        </form>

        <script src="/scripts/user/regist.js"></script>
    </div>
</body>

</html>